{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A card to {{name}}</title>
</head>
<body>
    <img style="left: 10px; animation: a1 5.5s infinite;" class="drop" src="{% static 'main\img\sniz.png' %}" alt="">
    <img style="left: 230px; animation: a1 3.3s infinite;" class="drop" src="{% static 'main\img\sniz.png' %}" alt="">
    <img style="left: 550px; animation: a1 3.7s infinite;" class="drop" src="{% static 'main\img\sniz.png' %}" alt="">
    <img style="left: 700px; animation: a1 4.3s infinite;" class="drop" src="{% static 'main\img\sniz.png' %}" alt="">
    <img style="left: 850px; animation: a1 4.1s infinite;" class="drop" src="{% static 'main\img\sniz.png' %}" alt="">
    <img style="left: 1000px; animation: a1 4.4s infinite;" class="drop" src="{% static 'main\img\sniz.png' %}" alt="">
    <img style="left: 1250px; animation: a1 3.1s infinite;" class="drop" src="{% static 'main\img\sniz.png' %}" alt="">
    <img style="left: 1550px; animation: a1 2.2s infinite;" class="drop" src="{% static 'main\img\sniz.png' %}" alt="">
    <img style="left: 1700px; animation: a1 1.5s infinite;" class="drop" src="{% static 'main\img\sniz.png' %}" alt="">
    <div class="mrg"></div>
    <div class="hello">Happy New Year 2024</div>
    <div class="text">Dear, {{name}}! {{message}}☃️</div>
</body>
</html>