{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HNY</title>
</head>
<body>
    <div class="mrg"></div>
    <div class="hello">Happy New Year 2024</div>
    <div class="text">I wish you happiness, health and many gifts! ☃️</div>
</body>
</html>