body{
    background: #55E6FF;
}

.drop{
    width: 5vh;
    height: 5vh;
    position: absolute;
    top: -10%;
    z-index: -1;
}

@keyframes a1{
    0%{
        top: -10%;
    }
    100%{
        top: 95vh;
    }
}

.mrg{
    margin: 40vh 0;
}

.hello{
    text-align: center;
    margin: 10px 0;
    font-size: 50px;
    font-weight: bold;
}

.text{
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
}
